<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prime Hotels</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        html,
        body {
            height: 100%;
            margin: 0;
        }

        .header {
            height: 8%;
            background-color: black;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: white;
            padding: 0 5%;
        }

    </style>
</head>

<body>
    <div class="header">
        <a href="#" style="font-size: 14px; margin: 0; font-family: Tahoma, sans-serif; color: white; text-decoration: none;">Prime Hotels</a>
        <button style="border-radius: 10px; width: 5%; background-color: black; color: white; border: 1px solid white;">
            Login
        </button>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
